div.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container
    div.navbar-header
      a.navbar-brand(href='/') CATTA.vn
    div.collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/') Trang chủ
        li
          a(href='/category-detail') Sách hay
        li
          a(href='/category-detail') Tài liệu ôn thi
        li
          a(href='/category-detail') Tuyển dụng
        li
          a(href='/category-detail') Hỏi đáp
        li
          a(href='#')
            span.glyphicon.glyphicon-search
