.footer
  .container
    .row
      .col-md-12.text-center
        ul.list-inline
          li
            a(href='/') Trang Chủ
          li
            a(href='#') Giới thiệu
          li
            a(href='#') Liên hệ
        p.text-muted Bản quyền thuộc về Catta.vn
